.board {
  display: inline-block;
  border: 2px solid #333;
  background-color: rgb(70, 39, 39);
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #796b6b;
}

.snake {
  background-color: green;
}

.food {
  background-color: red;
}
